.navbar-brand>img {
    margin-right: 5px;
    width: 40px;
    height: 40px;
}

.login {
    width: 250px;
}

.read-only-style {
    background-color: #E6E6FA;
}

.text-justify {
    text-align: justify;
    text-justify: inter-word;
}

.account-settings {
    width: 300px;
}