{% extends "layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block main %}
<!-- js script loading-->
    <script src="/static/js/search.js" type="module"></script>

    <h6>Enter the beginning of the definition/word you are looking for</h6>
    <div class="input-group mt-2 mb-5">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">searched phrase</span>
        </div>
        <input id="search" type="text" class="form-control" aria-label="Default" placeholder="beginning of a word" aria-describedby="inputGroup-sizing-default">
    </div>
    <div>

    </div>
    <table class="table table-primary table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">concept/word</th>
                <th scope="col">definition/meaning</th>
                <th scope="col">Edition</th>
                <th scope="col">Deletion</th>
            </tr>
        </thead>
        <tbody id="results">
        <!-- data added dynamically using Ajax -->
        </tbody>
    </table>
{% endblock %}