{% extends "layout.html" %}

{% block title %}
    Add new word
{% endblock %}

{% block main %}
<!-- js script loading-->
    <script src="/static/js/add.js" type="module"></script>

    <form class="container text-center" id="change_form" action="/words/{{id}}" method="post">
        <div class="row justify-content-center mb-4">
            <div class="col-md-10">
                <label class="form-label mb-0"><b>concept/word</b></label>
                <input class="form-control text-center" id="word" maxlength="100"name="word_input" autofocus value="{{word}}">
            </div>
        </div>

        <div class="row justify-content-center mb-4">
            <div class="col-md-10">
                <label class="form-label mb-0"><b>definition/meaning</b></label>
                <textarea class="form-control" id="def" name="def_input" rows="3" >{{definition}}</textarea>
            </div>
        </div>
        <button type="submit" id="submitChangesBtn" class="btn btn-primary col-md-10">Save changes</button>
    </form>
{% endblock %}