{% extends "layout.html" %}

{% block title %}
    Add new word
{% endblock %}

{% block main %}
<!-- js script loading-->
    <script src="/static/js/add.js" type="module"></script>

    <form id="wordForm" class="container" action="/words" method="post">
        <div class="row justify-content-center">
            <div class="d-grid gap-2 col-md-8">
                <label class="form-label mb-0"><b>word/concept</b></label>
                <input class="form-control text-center mb-4" id="word" maxlength="50" name="wordInput" autofocus>
                <label class="form-label mb-0"><b>definition/meaning</b></label>
                <textarea class="form-control" id="def" name="defInput" rows="5"></textarea>
                <div class=" form-switch">
                    <input class="form-check-input" name="isMemorizedSwitch" type="checkbox" id="wordIsMemorizedSwitch">
                    <label class="form-check-label" for="wordIsMemorizedSwitch">I remember that</label>
                </div>
                <button type="submit" id="submitBtn" class="btn btn-primary">Save</button>
            </div>
        </div>
    </form>
{% endblock %}
