{% extends "layout.html" %}

{% block title %}
    Quiz
{% endblock %}

{% block main %}
<!-- js script loading-->
    <script src="/static/js/quiz.js" type="module"></script>

<!-- page content -->
    <div class="mx-auto col-sm-12 col-md-10 col-lg-8 d-grid">
    <!-- if there is no data to display -->
        {% if words|length == 0 %}
            <h3>Sorry, but to start the quiz you must have added at least 4 words/definitions.</h3>
        {% else %}
            <div class="mb-4">
                <h5>Find the word/concept that matches the definition/meaning below:</h5>
                <p class="mt-4 p-3 border border-primary rounded">{{question}}</p>
            </div>
            <div class="row row-cols-1 g-2 row-cols-md-2 d-flex">
                {% for word in words %}
                    <div class="col align-self-stretch"><button class="btn btn-info w-100 h-100">{{word}}</button></div>
                {% endfor %}
            </div>
            <button id="nextBtn" class="btn btn-primary mt-4">Next question</button>
        {% endif %}
    </div>
{% endblock %}
